
.metricGraph {
	width: 250px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding: 10px;
}

.metricGraph .progressTable {
	width: 100%;
}

.metricGraph .progressLabel {
	text-align: right;
	vertical-align: top;
}

.metricGraph .progressValue {
	vertical-align: top;
}

.metricGraph .progressBar {
	width: 100%;
}

.timerGraph {
	border-style: solid;
	border-width: 1px;
	margin: 10px;
	padding 10px;
	text-align: center;
	width: 1170px;
}

.timerGraph .metricGraph {
	border-style: none;
}